.formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input{
    width: 60%;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius:  8px 0 0 8px;
    border:  2px solid #00471b;
    outline: none;
}

.tarea-boton{
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    outline: none;
    background: #00471b;
    color: #fff;
    text-transform: capitalize;
}

